* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Manrope-reg";
  src: url(./fonts/Manrope-Regular.ttf);
}
@font-face {
  font-family: "Manrope-bold";
  src: url(./fonts/Manrope-ExtraBold.ttf);
}
body {
  min-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  overflow-x: hidden;
}

.landing-page {
  background-color: #0e0e0e;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-section {
  display: flex;

  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  padding: 3rem 10rem;
  gap: 5rem;
}

.nav-items {
  /* margin-left: 0; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  padding-left: 5rem;

  /* margin-left: 8rem; */
}

.nav-section h3 {
  font-family: "Manrope-bold";
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.5rem;

  color: #fff;
}
.nav-section h5 {
  font-family: "Manrope-reg";
  font-size: 13px;
  /* font-weight: 700; */
  line-height: 1.5rem;
  letter-spacing: 2px;

  color: #fff;
}
.nav-icon {
  padding-left: 20rem;
}
.nav-icon > img {
  width: 24px;
  height: 24px;
}

.nav-divider {
  /* margin-left: 10rem; */
  /* margin-right: 10rem; */
  border-bottom: 1px solid #fff;
  mix-blend-mode: normal;
  opacity: 0.2;
}

.hero-section {
  padding: 0 10rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 8rem;
}
.hero-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.hero-msg h5 {
  font-family: "Manrope-reg";
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 10px;

  color: #fff;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.hero-msg h1 {
  font-family: "Manrope-reg";
  font-size: 56px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 2px;

  color: #fff;
}
.hero-msg p {
  font-family: "Manrope-reg";
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;

  color: #fff;
  mix-blend-mode: normal;
  opacity: 0.75;
}

button {
  height: 3rem;
  width: 50%;
  background: #d87d4a;
  margin-top: 3rem;
}
button h3 {
  padding: 15px 32px;
  font-family: "Manrope-reg";
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;

  color: #fff;
}
.hero-img {
  /* background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 0, 0, 1) 69%,
    rgba(14, 14, 14, 1) 90%
  ); */
}
.hero-img img {
  width: 700px;
  height: 700px;
}

/* .collection-section */
.collection-section {
  /* background-color: #f3f3f3; */
  padding-left: 100px;
  padding-right: 150px;
}

.collection-items {
  padding: 5rem;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.collection-items > * {
  display: flex;
  flex-basis: 100%;
  gap: 2rem;
}
.items {
  background-color: #f1f1f1;
  border-radius: 8px;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.items > h2 {
  font-family: "Manrope-reg";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;

  letter-spacing: 1.28571px;
}
.items > p {
  font-family: "Manrope-reg";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;

  color: #000000;

  mix-blend-mode: normal;
  opacity: 0.5;
}

/* Footer/////////////////////////////// */
footer {
  background-color: #101010;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  color: #fff;
  padding: 5rem;
}

.footer-msg > p,
h5 {
  font-family: "Manrope-reg";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;

  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.5;
}
.footer-links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 5rem;

  gap: 1.5rem;
}
.footer-msg > h3 {
  font-family: "Manrope-bold";
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.5rem;

  color: #fff;
}
.footer-links > h4 {
  font-family: "Manrope-reg";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;

  letter-spacing: 2px;
  color: #fff;
}
